body {
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 8px;
}

.logo {
  width: 25%;
  padding-top: 25px;
  margin: 0 auto;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(238, 231, 255, 0.873);
  display: block;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

.city-search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 20px;
  padding: 20px;
  width: 75%;
  border-radius: 5px;
}

input[type="search"] {
  box-sizing: border-box;
}

.search-button {
  margin-left: 5px;
  font-size: 20px;
  background-color: #6f6f6f;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature {
  font-size: 48px;
  line-height: normal;
  display: block;
}

.current-temperature-icon {
  position: relative;
  height: 80px;
  width: 80px;
  top: 0px;

  margin-right: 0px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.current-precipitation {
  font-weight: bold;
}

.current-humidity {
  font-weight: bold;
}

.current-windspeed {
  font-weight: bold;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
